body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(226, 90, 49);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  